langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
pypdf
chromadb
pytest
boto3
langchain-text-splitters
langchain-ollama
langchain-chroma
streamlit
pillow
pytesseract
opencv-python
numpy